@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.section {
  @include block-set(100%, auto, 0, 0 auto, var(--color-green));
  overflow: hidden;
}

.banner {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;

  @media (max-width: $width-mobile-until) {
    flex-wrap: wrap !important;
  }
}

.innerLeft {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  flex: 1;

  @media (max-width: $width-mobile-until) {
    justify-content: flex-end !important;
    margin-right: 0 !important;
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.innerRight {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex: 1;

  @media (max-width: $width-mobile-until) {
    justify-content: flex-start !important;
    margin-left: 0 !important;
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.textLeft {
  position: absolute;
  right: 15%;
  max-width: 55%;
  text-align: right;
  @include font-face(3rem, 600, var(--color-white));
  box-sizing: border-box;
  text-transform: uppercase;

  @media (max-width: $width-desktop) {
    font-size: 2rem !important;
    right: 12%;
  }

  @media (max-width: $width-tablet) {
    font-size: 1.5rem !important;
    right: 10%;
  }

  @media (max-width: $width-mobile-until) {
    right: 20px !important;
    font-size: 1.2rem !important;
    line-height: normal !important;
  }

  p {
    margin: 0;
  }
}

.textRight {
  position: absolute;
  left: 15%;
  max-width: 55%;
  text-align: left;
  @include font-face(3rem, 600, var(--color-white));
  box-sizing: border-box;
  text-transform: uppercase;

  @media (max-width: $width-desktop) {
    font-size: 2rem !important;
    left: 12%;
  }

  @media (max-width: $width-tablet) {
    font-size: 1.5rem !important;
    left: 10%;
  }

  @media (max-width: $width-mobile-until) {
    left: 20px !important;
    font-size: 1.2rem !important;
    line-height: normal !important;
  }

  p {
    margin: 0;
  }
}
