@use 'sass:math';
@use './variables' as *;
@use './mixins' as *;

:root {
  --color-white: #FFFFFF;
  --color-green: #46BB22;
  --color-green-hover: #4ADC1C;
  --color-dark: #2C2C2C;
  --color-beige: #FAE390;
  --color-black: #000000;
  --color-red: #FF0000;

  --border-radius: 50px;
  --border: 2px solid var(--color-white);

  --font-family-roboto: "Roboto", sans-serif;
  --section-padding-y: 50px;
}

html {
  font-size: 62.5%;
}

@media (max-width: $width-desktop) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: var(--font-family-roboto);
  @include font-face(math.div($font-size-regular, 10) * 1px, 300, var(--color-dark));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}

h1 {
  @include font-face(math.div($font-size-header-first, 10) * 1rem, 900, var(--color-dark));
  text-transform: uppercase;
}

h2 {
  @include font-face(math.div($font-size-header-second, 10) * 1rem, 700, var(--color-dark));
  text-transform: uppercase;
}

h3 {
  @include font-face(math.div($font-size-header-third, 10) * 1rem, 700, var(--color-dark));
  text-transform: uppercase;
}

h4 {
  @include font-face(math.div($font-size-header-fourth, 10) * 1rem, 500, var(--color-dark));
  text-transform: uppercase;
}

h5 {
  @include font-face(math.div($font-size-header-fifth, 10) * 1rem, 500, var(--color-beige));
  text-transform: uppercase;
}

a:hover,
a:not(:hover),
a:hover::after,
a:not(:hover)::after {
  transition: 0.3s;
}

.button,
button {
  cursor: pointer;
}