@use 'variables' as *;
@use 'mixins' as *;

.section_01 {
	@include block-set(
			100%,
			auto,
			0 0 50px 0,
			0 auto,
			url("/images/bg_fon1.jpg") repeat
	);

	h2 {
		color: var(--color-green);
		margin: 0 0 20px 0;
		text-align: center;
	}

	&__promotions {
		@include block-set(100%, auto, 0, auto, none);
		display: flex;
		justify-content: center;
		align-items: stretch;
		gap: 30px;
		flex-wrap: wrap;
		h2{
			margin-bottom: 0px;
			line-height: 5.4rem!important;
		}
		p{
			@include font-face($font-size-regular * 1px, 400, var(--color-dark));
		}
	}

	&__promotions-item {
		width: colums(3);
		padding: 30px;
		background: var(--color-white);
		border: 1px solid rgba(0, 0, 0, 0.1);
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
		box-sizing: border-box;
	}

	&__promotions-item a {
		text-decoration: none;
		text-align: center;
	}

	&__promotions-item img {
		margin-bottom: 30px;
	}

	&__promotions-item p {
		@include font-face($font-size-regular * 1px, 400, var(--color-dark));
		width: 100%;
		text-align: center;
	}

	&__promotions-item .extra {
		font-size: 30px;
		font-weight: 500;
	}

	&__promotions-item .offer {
		font-size: 14px;
		font-weight: 300;
		text-decoration: line-through;
		margin: 10px 0;
	}

	&__promotions-item .offer .percent {
		display: inline-block;
		background: var(--color-green);
		margin: 0 10px;
		border-radius: 20px;
		color: var(--color-white);
		padding: 5px;
		font-weight: 600;
	}

	&__promotions-item-button {
		@include block-set(
				auto,
				auto,
				auto,
				0 auto,
				var(--color-green) 10% 50% no-repeat
		);
		border: 0;
		font-size: 12px;
		font-weight: 600;
	}

	&__promotions-item-button:hover {
		@include block-set(
				auto,
				auto,
				auto,
				0 auto,
				var(--color-green-hover) 10% 50% no-repeat
		);
	}

	&__promotions-item .amount {
		margin: 10px 0;
	}

	&__promotions-item .amount-input {
		width: 30px;
		height: 20px;
		border-radius: 0px;
		background: #f5f5f5;
		border: 1px solid rgba(0, 0, 0, 0.1);
		margin: 0 10px;
		color: var(--color-dark);
		text-align: center;
		font-size: 12px;
		padding: 0;
	}

	&__promotions-item .amount-input::-webkit-outer-spin-button,
	&__promotions-item .amount-input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&__promotions-item .amount button {
		width: 20px;
		height: 20px;
		background: none;
		border: 0;
		border-radius: 20px;
		color: var(--color-green);
		font-size: 18px;
		font-weight: 600;
	}
	&__shopping-cart-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		padding: 0 30px;
		box-sizing: border-box;
		.status{
			@include font-face(	$font-size-regular * 1px,	300,var(--color-black));
		}
		.cart-item-container {
			@include block-set(100%, auto, auto, 0 auto, none);
			max-width: 1170px;
			box-sizing: border-box;
			.cart-order-product {
				@include font-face(
						$font-size-regular * 1px,
						300,
						var(--color-black)
				);
				display: grid;
				grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
				grid-template-rows: 1fr;
				grid-column-gap: 20px;
				align-items: center;
				justify-items: center;
				width: auto;
				align-self: center;
				padding: 10px;
				margin: 10px auto;
				background: var(--color-white);
			}
			img {
				width: 50px;
				height: auto;
			}
			.cart-close img {
				width: 20px;
			}
			.cart-close{
				cursor: pointer;
				background: none;
				border: 0;
			}
		}
		.total_order_price {
			@include block-set(100%, auto, 10px, 0 auto 50px auto, var(--color-green));
			max-width: 1170px;
			box-sizing: border-box;
			display: flex;
			justify-content: center;
			gap: 10px;
			border: 0;

			p,
			h3 {
				@include font-face($font-size-header-fourth * 1px,500,var(--color-white)!important);
			}
		}
		.order_delivery {
			@include block-set(
					100%,
					auto,
					30px,
					10px auto 10px auto,
					var(--color-white)
			);
			.map-container{
				margin-top: 20px;
			}


			box-sizing: border-box;
			max-width: 1170px;

			&__text{
				@include font-face($font-size-regular * 1px,400,var(--color-black)!important);
			}

			.radio_group {
				display: flex;
				justify-content: left;
				gap: 30px;
			}

			/* The container */
			.container {
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			/* Hide the browser's default radio button */
			.container input {
				//position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
			}

			/* Create a custom radio button */
			.checkmark {
				@include font-face(12px, 500, var(--color-dark));
				background: #eee url("/images/svg/truck_dark.svg") 20px 50% no-repeat;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 15px 30px 15px 60px;
				border-radius: 50px;
			}

			/* On mouse-over, add a grey background color */
			.container:hover input ~ .checkmark {
				background-color: #ccc;
				transition: 1s;
			}

			/* When the radio button is checked, add a blue background */
			.container input:checked ~ .checkmark {
				color: var(--color-white);
				background: var(--color-green) url("/images/svg/truck_light.svg") 20px
				50% no-repeat;
				transition: 0.3s;
			}

			/* Create the indicator (the dot/circle - hidden when not checked) */
			.checkmark:after {
				content: "";
				position: absolute;
				display: none;
			}

			/* Show the indicator (dot/circle) when checked */
			.container input:checked ~ .checkmark:after {
				display: block;
			}
		}
		.order_info {
			@include block-set(100%, auto, 30px, 10px auto, var(--color-white));
			box-sizing: border-box;
			max-width: 1170px;
		}
		.order_payment {
			@include block-set(
					100%,
					auto,
					30px,
					10px auto 10px auto,
					var(--color-white)
			);
			box-sizing: border-box;
			max-width: 1170px;
		}
	}
	.go-back {
		border: 0;
		padding: 10px 20px;
		background: var(--color-green);
		color: var(--color-white);
		border-radius: 30px;
		margin-left: 30px;
		order: 1;
		text-decoration: none;
		text-align: center;
		@include font-face($font-size-regular*1px, 300, var(--color-white));
	}

	&__header_container {
		display: flex;
		justify-content: space-between;
		max-width: 1170px;
		align-items: center;
		margin: 0 auto;
		padding: 0 30px;
	}
	.order_info form {
		display: flex;
		flex-direction: column;
		gap: 10px;

		input {
			border-radius: 0;
			border-color: rgba(0, 0, 0, 0.1);
			height: 30px;
			padding: 5px 10px;
			margin: 0;
			text-transform: none;
			font-weight: 200;
			@include font-face(12px, 100, var(--color-dark));
			background:  var(--color-white);
		}
		textarea {
			padding: 5px 10px;
			border-color: rgba(0, 0, 0, 0.1);
			min-height: 80px;
			background:  var(--color-white);
			@include font-face(12px, 100, var(--color-dark));
			text-transform: none;
			font-weight: 200;
		}
		label {
			@include font-face(16px, 500, var(--color-dark));
		}

	}
	.order_payment {
		&__container {
			margin: 20px 0;
		}
		/* The container */
		.wrapper {
			display: block;
			position: relative;
			padding-left: 35px;
			margin-bottom: 12px;
			cursor: pointer;
			@include font-face(16px, 500, var(--color-dark));
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		/* Hide the browser's default radio button */
		.wrapper input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}

		/* Create a custom radio button */
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 25px;
			width: 25px;
			background-color: #eee;
			border-radius: 50%;
		}

		/* On mouse-over, add a grey background color */
		.wrapper:hover input ~ .checkmark {
			background-color: #ccc;
		}

		/* When the radio button is checked, add a blue background */
		.wrapper input:checked ~ .checkmark {
			background-color: var(--color-green);
		}

		/* Create the indicator (the dot/circle - hidden when not checked) */
		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}

		/* Show the indicator (dot/circle) when checked */
		.wrapper input:checked ~ .checkmark:after {
			display: block;
		}

		/* Style the indicator (dot/circle) */
		.wrapper .checkmark:after {
			top: 9px;
			left: 9px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: white;
		}
	}
}