@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.catalogList {
  font-size: 14px;
  font-weight: 400;
  color: var(--app-text);
  line-height: 21px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px 0;
  padding: 0;
  list-style: none;

  li {
    list-style: none;
  }
}

.catalogItem {
  color: var(--app-text);
  text-decoration: none;
  position: relative;
  padding-right: 20px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;

  &:hover {
    color: var(--color-green);
    transform: translateX(4px);
  }
}

.selected {
  .catalogItem {
    color: var(--color-green);
    font-weight: 600;
  }
}
