@charset "UTF-8";
:root {
  --color-white:#FFFFFF;
  --color-green:#46BB22;
  --color-green-hover:#4ADC1C;
  --color-dark:#2C2C2C;
  --color-beige:#FAE390;
  --color-black:#000000;
  --color-red:#FF0000;
  --border-radius:50px;
  --border:2px solid var(--color-white);
  --font-family-roboto:"Roboto", sans-serif;
  --section-padding-y:50px;
}

.section_catalog {
  width: 100%;
  height: auto;
  padding: 0 0 50px 0;
  margin: 0 auto;
  background: #F6F6F6;
  display: flex;
  justify-content: center;
}
.section_catalog .extra {
  font-size: 30px !important;
  font-weight: 500 !important;
}
.section_catalog .offer {
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
  margin: 10px 0;
}
.section_catalog .error {
  font-size: 11px;
  font-weight: 400;
  color: var(--color-red);
  line-height: 16.5px;
}
.section_catalog h2 {
  margin-bottom: 20px;
}
.section_catalog h3 {
  color: var(--color-dark);
  margin: 0;
  text-align: left;
}
.section_catalog__container {
  width: 1170px;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.section_catalog__container .left_sidebar {
  width: 20%;
}
.section_catalog__container .left_sidebar ul.catalog__list {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-dark);
  line-height: 21px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}
.section_catalog__container .left_sidebar ul.catalog__list .selected .catalog__item {
  color: var(--color-green);
}
.section_catalog__container .left_sidebar ul.catalog__list .catalog__item, .section_catalog__container .left_sidebar ul.catalog__list .catalog__subitem {
  color: var(--color-dark);
  text-decoration: none;
  position: relative;
  padding-right: 20px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: color 0.3s ease;
}
.section_catalog__container .left_sidebar ul.catalog__list .catalog__item:hover, .section_catalog__container .left_sidebar ul.catalog__list .catalog__subitem:hover {
  color: var(--color-green);
}
.section_catalog__container .right_sidebar {
  width: 80%;
}
.section_catalog__container .right_sidebar .section_01__promotions {
  justify-content: left !important;
}
.section_catalog__container .right_sidebar p {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-dark);
  line-height: 21px;
}
.section_catalog ul.catalog__list li ul {
  margin-left: 20px;
}
.section_catalog ul.catalog__list li ul li {
  margin: 10px 0;
}
.section_catalog ul.catalog__list li ul .catalog__subitem {
  padding-right: 0;
  text-decoration: none;
}
.section_catalog ul.catalog__list li ul .catalog__subitem:hover {
  color: var(--color-green);
}
.section_catalog ul.catalog__list li a {
  text-decoration: none;
}
.section_catalog .hide_list {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}
.section_catalog [data-catalog-list] ul:not(.hide_list) {
  opacity: 1;
  max-height: 1000px;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
}
.section_catalog [data-catalog-list] ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section_catalog [data-catalog-list] {
  position: relative;
  cursor: pointer;
}
.section_catalog [data-catalog-list]:hover .catalog__item {
  color: var(--color-green);
}
.section_catalog [data-catalog-list]:has(ul.catalog__sublist) .catalog__item::after {
  content: "+";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  display: block;
  background: var(--color-green);
  padding: 2px 5px;
  line-height: 1;
  color: var(--color-white);
}
.section_catalog [data-catalog-list].open:has(ul.catalog__sublist) .catalog__item::after {
  content: "−";
}
.section_catalog .section_catalog__container .top_sidebar {
  display: none;
}
.section_catalog .select__list {
  height: 30px;
  width: auto;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-dark);
  line-height: 21px;
  background: none;
  margin-top: 10px;
}
.section_catalog .top_sidebar h3 {
  text-align: center !important;
}

/*# sourceMappingURL=section_catalog.css.map */
